In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shirokiy,RU,2022-08-08 19:36:29,49.7580,129.5230,51.19,93,30,6.64
1,1,Mataura,NZ,2022-08-08 19:36:30,-46.1927,168.8643,34.48,82,8,6.26
2,2,Kamogawa,JP,2022-08-08 19:36:30,35.1000,140.1000,82.13,87,100,16.87
3,3,Busselton,AU,2022-08-08 19:36:31,-33.6500,115.3333,47.93,84,96,13.73
4,4,Kununurra,AU,2022-08-08 19:36:14,-15.7667,128.7333,66.18,88,0,4.61

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kamogawa,JP,2022-08-08 19:36:30,35.1000,140.1000,82.13,87,100,16.87
6,6,Aketi,CD,2022-08-08 19:36:32,2.7388,23.7833,71.28,90,85,1.43
7,7,Biak,ID,2022-08-08 19:36:32,-0.9131,122.8766,75.04,85,87,4.61
8,8,Jamestown,US,2022-08-08 19:33:55,42.0970,-79.2353,84.94,65,100,14.97
10,10,Indramayu,ID,2022-08-08 19:36:33,-6.3264,108.3200,76.59,73,12,7.43
11,11,Pervomayskoye,RU,2022-08-08 19:36:34,43.9190,46.7102,73.38,51,82,3.89
12,12,Doka,SD,2022-08-08 19:36:34,13.5167,35.7667,71.85,85,100,7.72
13,13,Thompson,CA,2022-08-08 19:36:34,55.7435,-97.8558,80.76,44,75,11.50
14,14,Arraial Do Cabo,BR,2022-08-08 19:36:35,-22.9661,-42.0278,75.16,83,100,5.75
15,15,Hilo,US,2022-08-08 19:36:35,19.7297,-155.0900,82.27,96,100,8.05

In [11]:
preferred_cities_df.count()

City_ID       293
City          293
Country       293
Date          293
Lat           293
Lng           293
Max Temp      293
Humidity      293
Cloudiness    293
Wind Speed    293
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2          Kamogawa      JP     82.13  35.1000  140.1000
6             Aketi      CD     71.28   2.7388   23.7833
7              Biak      ID     75.04  -0.9131  122.8766
8         Jamestown      US     84.94  42.0970  -79.2353
10        Indramayu      ID     76.59  -6.3264  108.3200
11    Pervomayskoye      RU     73.38  43.9190   46.7102
12             Doka      SD     71.85  13.5167   35.7667
13         Thompson      CA     80.76  55.7435  -97.8558
14  Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
15             Hilo      US     82.27  19.7297 -155.0900

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kamogawa,JP,82.13,35.1000,140.1000,Kamogawa Grand Hotel
6,Aketi,CD,71.28,2.7388,23.7833,
7,Biak,ID,75.04,-0.9131,122.8766,Penginapan Kim
8,Jamestown,US,84.94,42.0970,-79.2353,Hampton Inn & Suites Jamestown
10,Indramayu,ID,76.59,-6.3264,108.3200,Grand Trisula Hotel
...,...,...,...,...,...,...
569,Alice Town,BS,84.06,25.7167,-79.3000,Bimini Big Game Club Resort & Marina
572,Egyek,HU,72.99,47.6333,20.9000,Márton Eszter
577,Novobessergenevka,RU,80.02,47.1847,38.8462,Park-Hotel Malikon
578,Tomiya,JP,75.31,38.3931,140.8861,Hotel Route Inn Sendai Izumi Inter
579,Kisangani,CD,74.89,0.5167,25.2000,Grand Ramela Hotel

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [2]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined