## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Narsaq,GL,60.9167,-46.0500,48.42,88,100,6.11,moderate rain
1,1,Rikitea,PF,-23.1203,-134.9692,73.31,72,91,21.14,overcast clouds
2,2,Atasu,KZ,48.6814,71.6433,61.03,81,94,10.00,overcast clouds
3,3,Busselton,AU,-33.6500,115.3333,51.87,83,64,5.21,broken clouds
4,4,Vaini,TO,-21.2000,-175.2000,78.96,94,75,16.11,broken clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Vaini,TO,-21.2000,-175.2000,78.96,94,75,16.11,broken clouds
18,18,Jamestown,US,42.0970,-79.2353,76.95,55,75,11.50,broken clouds
20,20,Novita,CO,4.9551,-76.6053,78.96,93,99,3.38,overcast clouds
26,26,Albany,US,42.6001,-73.9662,79.66,62,12,6.29,few clouds
27,27,Vila Velha,BR,-20.3297,-40.2925,78.75,75,0,12.66,clear sky
30,30,Touros,BR,-5.1989,-35.4608,75.24,78,5,12.06,clear sky
38,38,Kapaa,US,22.0752,-159.3190,84.18,70,20,17.27,few clouds
39,39,San Policarpo,PH,12.1791,125.5072,77.34,87,26,2.46,scattered clouds
47,47,Naze,JP,28.3667,129.4833,81.52,76,100,1.92,overcast clouds
50,50,Nuzvid,IN,16.7833,80.8500,78.12,75,100,10.42,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                257
City                   257
Country                257
Lat                    257
Lng                    257
Max Temp               257
Humidity               257
Cloudiness             257
Wind Speed             257
Current Description    257
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Vaini,TO,-21.2000,-175.2000,78.96,94,75,16.11,broken clouds
18,18,Jamestown,US,42.0970,-79.2353,76.95,55,75,11.50,broken clouds
20,20,Novita,CO,4.9551,-76.6053,78.96,93,99,3.38,overcast clouds
26,26,Albany,US,42.6001,-73.9662,79.66,62,12,6.29,few clouds
27,27,Vila Velha,BR,-20.3297,-40.2925,78.75,75,0,12.66,clear sky
...,...,...,...,...,...,...,...,...,...,...
666,666,Maumere,ID,-8.6199,122.2111,79.93,78,86,1.23,overcast clouds
668,668,Nara,JP,34.6851,135.8049,85.32,66,96,2.06,overcast clouds
669,669,Pyapon,MM,16.2833,95.6833,76.26,92,99,2.39,overcast clouds
670,670,Aden,YE,12.7794,45.0367,84.61,74,100,10.40,overcast clouds
673,673,Ratnagiri,IN,16.9833,73.3000,78.94,88,100,19.22,overcast clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
18,Jamestown,US,76.95,broken clouds,42.0970,-79.2353,
20,Novita,CO,78.96,overcast clouds,4.9551,-76.6053,
26,Albany,US,79.66,few clouds,42.6001,-73.9662,
27,Vila Velha,BR,78.75,clear sky,-20.3297,-40.2925,
30,Touros,BR,75.24,clear sky,-5.1989,-35.4608,
38,Kapaa,US,84.18,few clouds,22.0752,-159.3190,
39,San Policarpo,PH,77.34,scattered clouds,12.1791,125.5072,
47,Naze,JP,81.52,overcast clouds,28.3667,129.4833,
50,Nuzvid,IN,78.12,overcast clouds,16.7833,80.8500,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
18,Jamestown,US,76.95,broken clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
20,Novita,CO,78.96,overcast clouds,4.9551,-76.6053,B/ Buenos Aires Sector Las Curvitas
26,Albany,US,79.66,few clouds,42.6001,-73.9662,
27,Vila Velha,BR,78.75,clear sky,-20.3297,-40.2925,Hotel Vitória Palace
...,...,...,...,...,...,...,...
666,Maumere,ID,79.93,overcast clouds,-8.6199,122.2111,Sylvia Hotel
668,Nara,JP,85.32,overcast clouds,34.6851,135.8049,Guesthouse Nara Komachi
669,Pyapon,MM,76.26,overcast clouds,16.2833,95.6833,Aung Naing Thu Motel
670,Aden,YE,84.61,overcast clouds,12.7794,45.0367,Sama Emirate Hotel
673,Ratnagiri,IN,78.94,overcast clouds,16.9833,73.3000,Hotel Landmark

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))